body {
    font-family: arial,"Hiragino Sans GB","Microsoft Yahei","微软雅黑",Tahoma,Helvetica,STHeiti;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}
ul li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: #000;
}